PORT = 5000
MONGO_URI = mongodb+srv://shopkaro-demo
JWT_SECRET = shopkaro-secret

EMAIL_USER = gmail@gmail.com
EMAIL_PASS = gmail-password


CLOUDINARY_CLOUD_NAME = cloudinary-cloud-name
CLOUDINARY_API_KEY = cloudinary-api-key
CLOUDINARY_API_SECRET = cloudinary-api-secret
